tbody,tr,th,td{
    border: 1px solid black;
}
.App{
 display: flex;
 justify-content: center;
}
.leftButtons{
    display: flex;
    flex-direction: column;
    margin-right: 42px;
   
}
.verticalBar{
    height:80vh;
    width:2px;
  background-color: black;
  margin-right: 12px;
}
.btn1:hover{
    border: 2px solid rgb(133, 211, 15);
}
.btn1{
    background-color: whitesmoke;
    width: 12vw;
    height:6vh
}
.topleft{
    background-color:  rgb(73, 140, 233);
    color:white;
    height:8vh;
    width:12vw;
  
}
tbody{
    width:50vw
}
h3{
   display: flex;
   justify-content: center;
   background-color: rgb(73, 140, 233);
   color: white;
}
form{
   margin-left: 28vw;
   margin-bottom: 2vh;
}
.search{
    background-color:  rgb(73, 140, 233);
   color: white;
}
th{
    background-color: rgb(73, 140, 233);
    color: white;
}